*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	/*font-family: 'Roboto', sans-serif;*/
	background-color: #2b2b2b;
	font-family: 'Source Sans Pro', sans-serif;
}

header{
	display: flex;
	justify-content: space-between;
	background-color: #2b2b2b;
}

.logo{
	padding-left: 100px;
    line-height: 100px;
}

.logo i{
	font-size: 35px;
	color: #F2762E;
}

.logo span{
	font-size: 30px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	padding-left: 10px;
	/*font-family: 'Roboto', sans-serif;*/
	/*font-family: 'Oswald', sans-serif;*/
    font-weight: bold;
}

.main-nav{
	padding-right: 100px;
	line-height: 90px;
}

.main-nav a{
	text-decoration: none;
	font-size: 15px;
	padding: 15px 15px;
	line-height: 50px;
	text-transform: uppercase;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.main-nav a:first-child{
	background-color: #F2762E;
	border-radius: 30px;
}

.main-nav a:hover{
	background-color: tomato;
	border-radius: 30px;

}

/*header ends here*/


/*main content styles*/
.main-content{
	text-align: center;
	padding: 0 200px;
}

.main-content h1{
   padding: 50px 0;
   color: white;
   text-transform: capitalize;
   letter-spacing: 2px;
}

.main-content p{
	line-height: 30px;
	font-size: 20px;
    color: #6c6c6c;
    margin-bottom: 70px;
    
}

.main-content button{
    width: 300px;
    height: 70px;
    border-radius: 50px;
    border: transparent;
    margin-bottom: 120px;
    background-color: #F2762E;;
}

button a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;

}
/*submain starts here*/
.submain{
	background: white;
	padding-top: 100px;
	display: flex;
	padding-bottom: 150px;
}

.submain .col1{
	text-align: center;
	width: 60%;
}

.intro{
	line-height: 20px;
}

/* h2{
	font-size: 30px;
}*/

.pgraph{
	/*font-size: 25px;*/
	text-transform: uppercase;
	/*padding-top: 50px;*/
}

.col1 img{
	width: 85%;
	padding-top: 50px;
}

.col1 h2{
	text-transform: capitalize;
}
.about{
	padding:40px 55px;
	color: #444444;
	font-size: 15px;
	line-height: 22px;
}

.col2{
	width: 40%;
	text-align: center;
	line-height: 30px;
	padding-right: 60px;
}

.one,.two{
	margin-bottom: 50px;
}

.two{
	margin-top: 50px;
}
.links{
	display: flex;
}

.partA, .partB{
	display: block;
	width: 45%;
}

.partA{
	padding-right: 25px;
}

.partA a, .partB a{
	display: block;
	border-bottom: 1px solid grey;
	margin: 10px 0;
}

.partB{
	padding-left: 25px;
}

/*last part of the main content*/
.submainB{
	background-color: white;
}
.heading{
	text-align: center;
}

.heading h4{
	font-size: 40px;
	text-transform: capitalize;
}

.heading p{
	font-size: 25px;
}

.last-content{
	display: flex;
}

.three, .four{
	width: 50%;
	background-color: ;
	border-right: 1px solid black;
	padding-top: 50px;
	text-align: center; 
}

.thre i{
	font-size: 100px;
	background-color: #F2762E;
	border-radius: 50%;
	padding: 30px;
	color: white;
}

.headpart{
	padding: 35px 0;
}

.first{
	/*font-size: 25px;*/
}

.second{
	/*font-size: 13px;*/
	text-transform: uppercase;
}

.second,.threee{
	color: grey;
}

.threee{
	padding: 35px 50px;
	line-height: 20px;
}

.b-btn{
	width: 250px;
	height: 60px;
	margin-bottom: 30px;
    border: transparent;
    border-radius: 30px;
    background-color: #F2762E;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

.four{
	width: 50%;
}
/*footer*/
footer{
     color: rgba(255,255,255,0.6);
     text-align: center;
     line-height: 150px;
     text-transform: capitalize;
     background-color: #2b2b2b;
}


/*devices with max-width of 600px*/
@media only screen and (max-width: 728px) {
  header{
  	display: block;
  }

  .logo{
  	display: flex;
  	line-height: 30px;
  }

  .logo i{
  	font-size: 25px;
  	text-align: center;
  }

  .logo span{
  	font-size: 15px;
  }

  .main-nav{
  	display: block;
  	padding-right: 0px;
  }

  .main-nav a{
  	padding: 0px 20px;
  	display: block;
  	width: 100%;
  }

  .main-nav a:first-child{
     border-radius: 20px;
  }

  .main-content{
  	padding: 0 10px;
  	margin-bottom: 0;
  }

  .main-content button {
    width: 100%;
    height: 50px;
  }

  .submain{
  	display: block;
  }

  .submain .col1{
  	width: 100%;
  	padding: 0 5px;
  }

  .about{
  	margin-top: 10px;
  	padding: 10px 20px;
  }

  .submain .col2{
  	width: 100%;
    padding: 0 5px;
}

.one{
 margin-bottom: 10px;
}

.two{
	margin-top: 10px;
}

.partA{
	padding-left: 10px;
}

.last-content{
	display: block;
}

.three, .four{
	width: 100%;
	border: none;
}

.thre i{
	font-size: 50px;
}

.threee{
	padding: 5px;
}



}



